body{
    background: #FFFFFF;
    color: #560568;
   }
  
  h1 {
     color:#000000;
     border-bottom: 3px solid;
     margin-bottom: 8;
     font-size: 50px;
  }
  
  main {
    color: #000000;
    margin-left: 12em;
    padding: 1px 0 1px 5%;
    border-left: 2px;
    font-size: 30px
  }

 li {
     font-size: 30px;
}
  
  nav {
    float: left;
    width: 20em;
    background: #F8D7FF;
  }

