body {
    background-color: #FEDE3FF;
}
  
h1 {
    color:#402B66;
    border-bottom: 5px solid;
    margin-bottom: 8;
    font-size: 80px;
    font-family:Garamond,serif;
    text-align:center;
}
  
main {
    color: #000000;
    margin-left: 19em;
    padding: 1px 0 1px 5%;
    border-left: 5px solid;
}

p {
    font-size: 40px;
    font-family: Garamond,serif;
    color: #3C1461;
}

li {
    font-size: 30px;
    font-family:Garamond,serif;
}
  
nav {
    float: left;
    width: 19em;
    background: #F8D7FF;
}

.odd {
    background-color:#FA8072;
}

.even {
    background-color:#FFF5EE;
}

.skincareProducts {
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-spacing: 0px;
}

.skincareProducts td {
    border: 1px solid black;
    font-size: 20px;
    padding-left:15px;
    padding-right:5px;
}

.skincareProducts th {
    border: 1px solid black;
    font-size: 25px;
}

.skincareProductsHeader {
    padding-top: 30px;   
    padding-bottom: 0px;
}
