body {
    background-color:#F2FBFF;
}

.Acne {
    background-color: #F1DEE4;
}
  
h1 {
    color:#402B66;
    border-bottom: 5px solid;
    margin-bottom: 8;
    font-size: 80px;
    font-family:Garamond,serif;
    text-align:center;
}
  
main {
    color: #000000;
    margin-left: 19em;
    padding: 1px 0 1px 5%;
    border-left: 5px solid;
}

p {
    font-size: 50px;
    font-family: Garamond,serif;
    color: #3C1461;
}
  
nav {
    float: left;
    width: 19em;
    background: #F8D7FF;
}

nav ul {
    float:left;
    margin:0;
    padding:0;
    width:19em;
    background:white;
    border:1px solid;
 }

nav li {
    position:relative;
    list-style:none;
    margin:0;
    border-bottom:1px solid;
    font-size: 30px;
    font-family:Garamond,serif;
}

nav ul ul {
    position: absolute;
    top:0;
    left:10em;
    display:none;
    width:10em;
}

nav li a {
    display: block;
    padding: 0.25em 0 0.25em 0.5em;
    text-decoration: none;
}

nav li:hover {
    background: #F9C0E0;
}

nav li.submenu {
    background: url(http://interactivepython.org/runestone/static/webfundamentals/_static/submenu.gif) 95% 50% no-repeat;
}

nav li.submenu:hover {
    background-color: #E1A2FF;
}


nav ul.level1 li.submenu:hover ul.level2{
    display:block;
}


.odd {
    background-color:#FA8072;
}


.even {
    background-color:#FDEDE2;
}

.skincareProducts {
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-spacing: 0px;
}

.skincareProducts td {
    border: 1px solid black;
    font-size: 20px;
    padding-left:15px;
    padding-right:5px;
}

.skincareProducts th {
    border: 1px solid black;
    font-size: 25px;
}

.skincareProductsHeader {
    padding-top: 0px;   
    padding-bottom: 0px;
}

h2 {
    font-size: 50px;
}

.yes {
    display: flex;
    justify-content: center;
}

.yes1 {
    float: left;
    padding: 10px;
}

.yes2 {
    float: right;
    padding: 10px;
}
