body{
    background-color: #FEDE3FF;
    font-family:Garamond,serif;
   }
  
  h1 {
     color:#402B66;
     border-bottom: 0px solid;
     margin-bottom: 8;
     font-size: 80px;
  }
  
  h2 {
    color: #000000;
    margin-left: 50em;
    padding: 1px 0 1px 5%;
    border-left: 10px;
    font-size: 60px
  }

 li {
     font-size: 30px;
}
  
  nav {
    float: left;
    width: 19em;
    background: #F8D7FF;
  }


.odd {
     background-color:#FA8072;
     }

.even {
     background-color:#FFF5EE;
     }


    
