<style>

body{
    background: #FFFFFF;
    color: #560568;
   }
  
  h1 {
     color:#000000
     border-bottom: 3px solid;
     margin-bottom: 8;
  }
  
  main {
    color: #000000;
    margin-left: 7em;
    padding: 1px 0 1px 5%;
    border-left: 2px solid;
  }
  
  nav {
    float: left;
    width: 10em;
    background: #F8D7FF;
  }
  
 

</style>
